{% extends "index.njk" %}

{% block content %}


<form class="product" method="post" action="/cadastro">
    <h3>Novo Produto</h3>
    <div class="item">
        <div>Produto</div>
        <div>
            <input type="text" name="name" placeholder="Nome do Produto">
        </div>
    </div>

    <button type="submit">Salvar</button>

</section>
</form>


{% endblock %}